{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>Моя фильмография | {{ title }}</title>
    {% else %}
    <title>Моя фильмография</title>
    {% endif %}
    <link rel="stylesheet" href="{% static 'blog/css/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav>
        <div><a href="{% url 'blog-home' %}">Главная</a></div>
        <div><a href="{% url 'blog-category' %}">Категории</a></div>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
